<!-- <h3 class="sub-header">IQ Bot Connection Settings</h3> -->


<form>

	  	<div class="form-group form-inline">
  		<h5><label for="usr">Login: </label></h5>
  		<input type="text" class="input-lg form-control" id="iqbotlogin">

  		<h5><label for="usr">Password:</label></h5>
  		<input type="password" class="form-control" id="iqbotpassword">


		</div>
<!--
		<div class="form-group form-inline">
  			<h5><label for="pwd">Version:</label></h5>
									<select class="form-control" id="iqbot_version">
									<option>6</option>
									</select>

		</div>
-->

		<div class="form-group form-inline">
  			<h5><label for="pwd">CR URL:</label></h5>
  			<input type="text" class="form-control col-lg-6" id="iqboturl">
		</div>







		<div class="form-group">
			<label for="pwd"> </label>
			<!--<button id="savebutton" type="button" class="btn btn-info btn-xlarge">Save</button>-->
			<button id="testbutton" type="button" class="btn btn-info btn-xlarge">Test</button>
		</div>

		<div class="form-group">
		<h5>Status:  <span id="status" class="badge badge-secondary">Undetermined</span></h5>
		<div>
			<span id="conn_details"> </span>
		</div>
		</div>


</form>
<script>

function setSocketListeners(){

	socket.on('li_list',function(result){
		console.log(result)
	});

	// On receiving the content of the JSON file, we update all labels

	socket.on('structure_error',function(){
		console.log("Error Retrieving config file, try reloading.")
	});

	socket.on('structure_sent',function(result){
		$('#iqbotlogin').val(result["login"]);
		$('#iqbotpassword').val(result["password"]);
		$('#iqboturl').val(result["url"]);

		//$('#iqbotlogin').text(result["login"]);

	});

	socket.on('auth_response',function(result){

		$('#testbutton').prop("disabled",false);


		//var IsOK = JSON.parse(result);
		var JSONRES = JSON.parse(result);
//console.log(JSONRES);
		if(JSONRES['success']){
			//console.log("OK!");
			//$('#connOK').show()
			$('#status').removeClass('badge-secondary');
			$('#status').removeClass('badge-warning');
			//$('#status').removeClass('badge-success');
			$('#status').text('Connection OK');
			$('#status').addClass('badge-success');
			$('#conn_details').text('');
		}else{
			//console.log("error!");
			$('#status').removeClass('badge-secondary');
			//$('#status').removeClass('badge-danger');
			$('#status').removeClass('badge-success');
			$('#status').text('Connection Failed');
			$('#status').addClass('badge-warning');
			$('#conn_details').text(JSONRES['message']);
		}
	});

};


$(this).ready(function(){
	setSocketListeners();
	//$('.dropdown-toggle').dropdown();
	socket.emit('get_structure');

	$('#testid li').on('click', function() {
	    $('#dropdown_title').html($(this).find('a').html());
	});

	$('#savebutton').on('click', function() {
		//console.log("Dewbug:"+$('#iqbot_version').val());
	    socket.emit('save_structure',
	    	{
  				"url": $('#iqboturl').val(),
  				"major_version": $('#iqbot_version').val(),
  				"login": $('#iqbotlogin').val(),
  				"password": $('#iqbotpassword').val()
			}
		);
	});

	$('#testbutton').on('click', function() {
		//console.log("Sending event");
		socket.emit('save_and_test_iqbot_connection',
	    	{
  				"url": $('#iqboturl').val(),
  				"major_version": $('#iqbot_version').val(),
  				"login": $('#iqbotlogin').val(),
  				"password": $('#iqbotpassword').val()
			}
		);

		$(this).prop("disabled",true);

	});


	//socket.emit('get_structure',{});
	//console.log("Loaded!");


	});



</script>
