
  <div class="col-sm-12" id="createdomaindiv">

  <form class="form-vertical">



  	<div class="form-group form-inline">



  		<h5><label for="usr">Domain Name: </label></h5>
  		<input type="text" class="input-lg form-control" id="domain_name" data-toggle="tooltip" title="Allowed characters: Letters, Numbers, Spaces, '-'' and '_' (cannot start with Numbers)" placeholder="ABC  Invoices - 1">

  		<h5><label for="usr">Language: </label></h5>
  		<!-- <input type="text" class="input-lg form-control" id="new_language_picker"> -->
  		<select class="form-control" id="lang_selection">

		 </select>

  		<button id="add_lang" type="button" class="btn ml-3 btn-info btn-xlarge">Add</button>


	</div>

	<div class="form-group form-inline">
  		<h5><label for="usr">Field: </label></h5>
		<input type="text" class="input-lg form-control" id="new_field_name" data-toggle="tooltip" title="Allowed characters: Letters, Numbers and Spaces (cannot start with Numbers)" placeholder="Invoice Number">
  		<button id="add_field" type="button" class="btn ml-3 btn-info btn-xlarge">Add</button>
	</div>

	<div id="lang_badges" class="form-group form-inlne">
		<h5><label for="usr">Languages: </label></h5>
		<h5>
		<ul id="mylist" class="list-inline">
			<!-- <li href="#" class="list-group-item-c"><span id="FR" class="badge badge-success badge_lang">FR</span></li>-->
		</ul>
		</h5>
	</div>

</form>

	<div id="divfields_root text-center" class="form-group">

		<div class="form-group form-inline" id="divfields" style="display: none">
			<div class="col-md-12">
			<h4 class="text-center"> Fields </h4>
							<table class="table-sm table " id="field_list_table">
							  <thead>
							    <tr class="d-flex">
							      <th scope="col" class="col-1">Action</th>
							      <th scope="col" class="col-3">Field Name</th>
							      <th scope="col" class="col-2">Field Type</th>
							      <th scope="col" class="col-2">Data Type</th>
							      <th scope="col" class="col-4">Default</th>
							    </tr>
							  </thead>
							  <tbody>
							  </tbody>
							</table>
		</div>
	</div>
	</div>


	<div class="form-group form-inline" id="divalias" style="display: none">

    		<div class="col-md-12">
		<h4 class="text-center"> Aliases </h4>
		<table class="table" id="field_alias_table">
			<thead>
			<tr class="d-flex">
				<th scope="col" class="col-3">Field Name</th>

				<th scope="col"  class="col-9" data-toggle="tooltip" title="Aliases should be separated by '|'">Aliases</th>
			</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>


</div>

</div>

	<div id="action_buttons" align="center" class="col-md-12 "style="display: none">
		<div align="center">
			<button id="create_domain" type="button" class="text-center btn ml-3 btn-info btn-xlarge">Download Domain</button>

			<button id="import_domain" type="button" class="text-center btn ml-3 btn-info btn-xlarge">Import Domain</button>
		</div>

		<div align="center">
			<span id="import_domain_status"> </span>
		</div>

				<div align="center">

		</div>
  	</div>

  	<div class="span6">
    <h2 style="padding-bottom:80px;"></h2>
   </div>
</div>
