      <script>
        $.ajaxSetup({ cache: true })
      </script>
         <script type="text/javascript" src="/assets/cjs/liinstanceinfo.js"></script>
<form>
	
	  	<div class="form-group form-inline">
  	
		<div class="form-group">
			<button id="GetLIs" type="button" class="btn btn-info btn-xlarge">Retrieve Learning Instances</button>
		</div>

		</div>

		<table class="table table-striped" id="litable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">OCR Engine</th>
      <th scope="col">Internal ID</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</form>
