      <script>
        $.ajaxSetup({ cache: true })
      </script>
         <script type="text/javascript" src="/assets/cjs/createdomains.js"></script>
         
<div id="btn-sdf" align="center" class="col-sm-12 ">
		
			<div class="custom-file" align="center">
			    <input type="file" class="custom-file-input input-xlarge" align="center" id="DomainLoadFilePicker">
			    <label align="center" class="custom-file-label " style="width: 40%;text-align:left;" for="customFile">Upload JSON or CSV Domain File </label>
			  </div>
  	</div>